<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>BLOUSE</h2>
				<p class="text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.</p>
				<p class="text-2"><span>Eu ultrices:</span> Vitae auctor eu augue ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.</p>
				<div class="form-left-last">
					<input type="submit" name="account" class="account" (click)="book()" value="ĐĂNG KÝ KHÁM">
				</div>
			</div>
			<form class="form-detail" action="#" method="post">
				<h2>Liên Hệ</h2>
                <div class="form-row form-row-1">
                    <label for="name">Tên:</label>
                    <input type="text" name="name" id="name" class="input-text" required>
                </div>
                <div class="form-row form-row-1">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="input-text" required>
                </div>
				
                <div class="form-row form-row-1 ">
                    <label for="phone">Số Điện Thoại:</label>
                    <input type="text" name="phone" id="phone" class="input-text" required>
                </div>
                <div class="form-row form-row-1">
                    <label for="detail">Tiêu Đề:</label>
                    <input type="text" name="detail" id="detail" class="input-text" required>
                </div>
                <div class="form-row">
					<label for="your_email">Tin nhắn:</label>
					<input type="text" name="message" id="message" class="input-text" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="sendMessage" class="sendMessage" value="Gửi Tin Nhắn">
				</div>
			</form>
		</div>
	</div>
</body>