
.btn{
    border-radius: 50%;
}
.dropdown{
    border-radius: 50%;
    margin-left: 300px;
    margin-top: 3px;
}

.profile-image img{
    border-radius: 50%;
}
.image{
    width: 35px;
    height: 40px;
}

.dropdown-menu li a{
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.dropdown-menu li a:hover{
    background-color: antiquewhite !important;
}  