<!-- LOADER -->
<!-- <div id="preloader">
         <img class="preloader" src="assets/themes/images/loaders/heart-loading2.gif" alt="">
      </div> -->
<!-- END LOADER -->
<div
  id="home"
  class="parallax first-section wow fadeIn"
  data-stellar-background-ratio="0.4"
  style="background-image: url('assets/themes/images/slider-bg.png');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-contant">
          <h2>
            <span class="center"
              ><span class="icon"
                ><img src="assets/themes/images/icon-logo.png" alt="#" /></span
            ></span>
            <a
              href=""
              class="typewrite"
              data-period="2000"
              data-type='[ "Chào mừng đến với Blouse", "Đăng ký - khám bệnh tại nhà", "Đăng ký Ngay !" ]'
            >
              <span class="wrap"></span>
            </a>
          </h2>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
<div id="time-table" class="time-table-section">
  <div class="container">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="row">
        <div class="service-time one" style="background: #3fc4db;">
          <span class="info-icon"
            ><i class="fa fa-ambulance" aria-hidden="true"></i
          ></span>
          <h3>Bác sĩ của chúng tôi</h3>
          <p>Đội ngũ y bác sĩ có kinh nghiệm lâu năm trong nghề ...</p>
          <button [routerLink]="['/doctor']">Tìm hiểu thêm</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="row">
        <div class="service-time middle" style="background: #1585a7;">
          <span class="info-icon"
            ><i class="fa fa-clock-o" aria-hidden="true"></i
          ></span>
          <h3>Đăng ký khám bệnh</h3>
          <div class="time-table-section">
            <ul>
              <li>
                <span class="left">Thứ 2 - Thứ 6</span
                ><span class="right">8.00 – 24.00</span>
              </li>
              <li>
                <span class="left">Thứ 7</span><span class="right">24/24</span>
              </li>
            </ul>
            <button [routerLink]="['/schedule']">Đăng ký khám</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="row">
        <div class="service-time three" style="background: #16b0d6;">
          <span class="info-icon"
            ><i class="fa fa-hospital-o" aria-hidden="true"></i
          ></span>
          <h3>Dịch vụ</h3>
          <p>
            Cho bạn cái nhìn tổng quan về những gì chúng tôi đang làm.
          </p>
          <button [routerLink]="['/service']">Tìm hiểu thêm</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="service" class="services wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="inner-services">
          <div class="col-sm-4">
            <div class="serv">
              <span class="icon-service"
                ><img src="assets/themes/images/service-icon1.png" alt="#"
              /></span>
              <h4>Loi ich</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="serv">
              <span class="icon-service"
                ><img src="assets/themes/images/service-icon2.png" alt="#"
              /></span>
              <h4>Loi ich</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="serv">
              <span class="icon-service"
                ><img src="assets/themes/images/service-icon3.png" alt="#"
              /></span>
              <h4>Loi ich</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="inner-services">
          <div class="col-sm-4">
            <div class="serv">
              <span class="icon-service"
                ><img src="assets/themes/images/service-icon1.png" alt="#"
              /></span>
              <h4>Loi ich</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="serv">
              <span class="icon-service"
                ><img src="assets/themes/images/service-icon2.png" alt="#"
              /></span>
              <h4>Loi ich</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="serv">
              <span class="icon-service"
                ><img src="assets/themes/images/service-icon3.png" alt="#"
              /></span>
              <h4>Loi ich</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button_cont" align="center">
      <a
        class="example_b"
        href="add-website-here"
        target="_blank"
        rel="nofollow noopener"
        >Đăng Ký Khám Ngay</a
      >
    </div>
  </div>
  <!-- end container -->
</div>
<div id="about" class="section wow fadeIn">
  <div class="container">
    <div class="heading">
      <span class="icon-logo"
        ><img src="assets/themes/images/icon-logo.png" alt="#"
      /></span>
      <h2>Phòng Khám Chuyên Khoa</h2>
    </div>
    <!-- end title -->
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h2>Dịch Vụ Phòng Khám</h2>
          <p class="lead">
            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
            vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
            dignissim.
          </p>
          <p>
            Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis
            nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus
            molestie. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus.
          </p>
          <a
            [routerLink]="['/service']"
            data-scroll
            class="btn btn-light btn-radius btn-brd grd1 effect-1"
            >Chi tiết</a
          >
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
        <div class="post-media wow fadeIn">
          <img
            src="assets/themes/images/about_03.jpg"
            alt=""
            class="img-responsive"
          />
          <a
            href="http://www.youtube.com/watch?v=nrJtHemSPW4"
            data-rel="prettyPhoto[gal]"
            class="playbutton"
            ><i class="flaticon-play-button"></i
          ></a>
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <!-- end row -->
  </div>
</div>
<!-- end section -->

<!-- doctor -->

<div
  id="doctors"
  class="parallax section db"
  data-stellar-background-ratio="0.4"
  style="background: #fff;"
  data-scroll-id="doctors"
  tabindex="-1"
>
  <div class="container">
    <div class="heading">
      <h2>Những bác sĩ nổi bật</h2>
    </div>

    <div class="row dev-list text-center">
      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.2s;
          animation-name: fadeIn;
        "
      >
        <div class="widget clearfix">
          <img
            src="assets/themes/images/doctor_01.jpg"
            alt=""
            class="img-responsive img-rounded"
          />
          <div class="widget-title">
            <h3>Lê Phụng Minh Đức</h3>
            <small>Phó Giáo Sư</small>
          </div>
          <!-- end title -->
          <p>
            Dưới đây là mô tả về bác sĩ.
          </p>
          <div class="button_detail" align="center">
            <a class="detailBtn" target="_blank" rel="nofollow noopener" 
              >Chi tiết</a
            >
          </div>
        </div>
        <!--widget -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<!-- end doctor section -->

<div id="testimonials" class="section wb wow fadeIn">
  <div class="container">
    <div class="heading">
      <span class="icon-logo"
        ><img src="assets/themes/images/icon-logo.png" alt="#"
      /></span>
      <h2>Chúng tôi là ai</h2>
    </div>
    <div class="container text-center">
      <h2>Hệ thống đăng ký khám chữa bệnh trực tuyến Blouse</h2>
    </div>

    <div class="container whoweare_main home_style">
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" href="#menu3">Về chúng ta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Tầm nhìn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Giá trị</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="menu3" class="tab-pane fade in active">
          <p>Mang đến dịch vụ chăm sóc y tế tận tâm,</p>
          <p>chất lượng cao với chi phí hợp lý cho người Việt.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <p>Trở thành nhà tiên phong,</p>
          <p>chăm sóc sức khỏe cho người Việt.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <p>Giá trị dịch vụ được cam kết bởi sự chăm sóc đối với bệnh nhân.</p>
          <p>
            Để duy trì và phát huy tinh thần và giá trị đó, Blouse đã đào tạo,
            định hướng đội ngũ bác sĩ và nhân viên y tế luôn cùng nhau làm việc
            trên cơ sở nền tảng văn hóa dịch vụ:
          </p>
          <p>Cải tiến không ngừng quy trình và chất lượng chăm sóc y tế.</p>
          <p>Áp dụng kỹ thuật và kiến thức chăm sóc y tế tiến bộ.</p>
          <p>
            Rèn luyện văn hóa chăm sóc bệnh nhân bằng sự&nbsp;thấu hiểu, đồng
            cảm.
          </p>
          <p>
            Ekíp bác sĩ được đào tạo liên tục và cam kết thực hành y khoa trên
            nền tảng y học chứng cứ.
          </p>
        </div>
      </div>
    </div>
    <!-- end title -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->

<!-- end copyrights -->
<a href="#home" data-scroll class="dmtop global-radius"
  ><i class="fa fa-angle-up"></i
></a>
