<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-49">
                    Đăng Nhập
                </span>
                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                        <span class="label-input100">Tài khoản</span>
                        <input class="input100" formControlName="username" type="text" name="username" placeholder="Tài khoản đăng nhập ...">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Mật khẩu</span>
                        <input class="input100" formControlName="password" type="password" name="pass" placeholder="Nhập mật khẩu ...">
                        <span class="focus-input100 "></span>
                    </div>
                    
                    <div class="text-right p-t-8 p-b-31">
                        <a [routerLink]="['/register']">
                            Đăng Ký Tài Khoản
                        </a>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                <input type="hidden" value="ngSubmit">
                                Đăng Nhập
                            </button>
                        </div>
                    </div>
                </form>
                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Đăng nhập bằng
                    </span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a (click)="signInWithGoogle()" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <img src="{{ user.photoUrl }}">
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> -->